body {
    display:flex;
    height:100vh;
    flex-direction:column ;
    }
    
    main {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    flex-grow:1;
    }
    
    section {
    background: linear-gradient(180deg,#7ac98a, #acc7b8);
    order:3;
    flex-grow:1;
    border-radius: 15px;
    padding:20px;
    font-family:Lato; 
    font-size:20px;
    text-align:left;
    margin:5px;
    }

    section h1  {
        font-family:lato;
        font-size:30px;
        color:#fff;
        line-height:100%;
        margin-top:0px;
    }

    section dl {
        color:#fff;
        font-family:lato;
    }

    section dt {
        text-transform: uppercase;
        margin:10px;
        font-weight:bold;
        font-family:lato;
        font-size:1rem;
    }

    section dd {
        font-size:1.2rem;
    }
    
    header {
    background:#87BB34;
    border-radius:15px;
    text-align:center;
    padding:15px;
    margin:5px;
    }

    header h1  {
        font-family:lato;
        font-size:30px;
        color:#fff;
        line-height:100%;
        font-weight:bold;
    }
    
    footer {
    background:#87BB34;
    margin:5px;
    font-size:1rem;
    color:#fff;
    text-align:center;
    border-radius:15px;
    }

    footer p {
        font-family: lato;
        font-size: 20px;
        font-weight:bold;
    }
    
    aside {
    order:2;
    margin:5px;
    background:#9ebf66;
    padding:15px;
    border-radius:15px;
    flex-grow:1;
    }

    aside p {
        font-family: arimo;
        font-size:1rem;
        text-align:justify;
        color:#fff;
        padding:10px;
    }
    
    nav {
    background:#b5d384;
    order:1;
    padding:15px;
    font-family:arimo;
    font-size:1rem;
    color:#fff;
    line-height:100%;
    border-radius:15px;
    margin:5px;
    }

    nav li {
        list-style-type: none;
        margin-top:10px;
    }

    nav a {
        text-decoration:none;
        color:#fff;
    }

    nav h2 {
        line-height: 100%;
        margin-top:-10px;
    }

    both {
        display:flex;
        flex-direction: column;
        width:20%;
    }